.dashboard-container {
  background-color: white;
  padding: 2% 2.5%;
  .dashboard-title {
    font-weight: 700;
    font-size: 30px;
    color: #343f84;
    font-family: "NunitoSans-Bold";
  }

  .radioStations-subscribed-formControl {
    min-width: 150px;
    margin-top: 8px;
    .subscribed-formControl-title {
      font-weight: bold;
      font-size: 20px;
    }
    .subscribed-formControl-menu {
      font-size: 14px;
      color: #757575;
      font-family: "NunitoSans-Bold";
    }
  }

  .dashboard-tables-container {
    margin-top: 20px;
    .sonickeysDetected-leftTable-container {
      .sonickeysDetected-table-container {
        overflow-x: auto;
        width: 100%;
        border-radius: 20px;
        background-color: #e5f5f4;
        padding: 20px;
        .sonickeysDetected-table-title {
          font-weight: bold;
          font-size: large;
          color: #00a19a;
          font-family: "NunitoSans-Bold";
        }
        .sonickeysDetected-table {
          .table-head {
            font-weight: bold;
            color: #757575;
            font-family: "NunitoSans-Bold";
          }
          .table-cell {
            color: #757575;
          }
        }
      }
    }

    .radioStations-subscribed-container {
      background-color: #e5f5f4;
      padding: 20px;
      border-radius: 20px;
      .radioStations-subscribed-title {
        font-weight: bold;
        font-size: large;
        color: #00a19a;
        font-family: "NunitoSans-Bold";
        text-align: center;
      }
    }

    .mostPlays-rightTable-container {
      .mostPlays-table-container {
        padding: 20px;
        background-color: #e5f5f4;
        width: 100%;
        overflow-x: auto;
        border-radius: 20px;
        .mostPlays-table-title {
          font-weight: bold;
          font-size: large;
          color: #00a19a;
          font-family: "NunitoSans-Bold";
        }
        .mostPlays-table {
          .table-head {
            font-weight: bold;
            color: #757575;
            font-family: "NunitoSans-Bold";
          }
          .table-cell {
            color: #757575;
            font-family: "NunitoSans-Regular";
          }
        }
      }
    }
  }

  .dashboardPlays-table-container {
    margin-top: 40px;
    .plays-table {
      .plays-table-title {
        font-size: 20px;
        font-family: "NunitoSans-Bold";
        color: #343f84;
      }
    }
    .dashboardPlays-tableHead {
      & th:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      & th:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      background-color: #eaeaea;
    }
    .dashboardPlays-viewMore-btnContainer {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      .viewMore-Btn {
        text-transform: none;
        background-color: #eaeaea;
        font-family: "NunitoSans-Regular";
      }
    }
  }
  .dashBoard-Graphs-container {
    padding-top: 30px;
    .dashBoard-Graphs-title {
      font-size: 20px;
      line-height: 1;
      color: #343f84;
      font-family: "NunitoSans-Bold";
    }
    .dashBoard-Graphs-subtitle {
      margin-top: 5px;
      color: #00a19a;
      font-size: 18px;
      font-family: "NunitoSans-Regular";
    }
  }
}
